.vscode
**/.DS_Store
__pycache__
TODOs.md
real-data
.idea
users.md
my.cnf*
my-dev.cnf
my-prod.cnf
openldap-env.yaml
openldap-env-dev.yaml
openldap-env-prod.yaml
mlwh-api.yml
mlwh-api-dev.yml
mlwh-api-prod.yml
node_modules/
npm-debug.log
.svelte-kit/
frontend/**/build
.coverage
