<!doctype html>

{# https://jinja.palletsprojects.com/en/3.0.x/templates/ #}

<html lang="en">

   <head>
      {% block head_elt %}
      <link rel="stylesheet" href="/assets/00_dash_default.css" />
      <link rel="stylesheet" href="/assets/10_dash_customizations.css" />
      <link rel="stylesheet" href="/assets/20_monocle.css" />
      <title>{{title}}</title>
      {% endblock %}
   </head>

   <body>

      <div class="main_page_container">
      
         <div class="header_outer_container">
            {% include "monocle_header.html" %}
         </div>
         
         <div class="main_page_container">
            {% block main_content %}
            <div>
               <h2>{{title}}</h2>
               <p>
                  This is a placeholder.
               </p>
            </div>
            {% endblock %}
         </div>

         <div class="footer_outer_container">
            {% include "monocle_footer.html" %}
         </div>
         
      </div>

   </body>
</html>

