[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyyaml = "*"
python-ldap = "3.3.1"
flask = "1.1.2"
flask-cors = "*"
Flask-Injector = "0.12.3"
testfixtures = "*"
gunicorn = "*"
'connexion[swagger-ui]' = "*"

[requires]
python_version = "3.7"
