# my.cnf is in the main project .gitignore, so having it here is redundancy
# BUT if someone changed the main .gitiignore without realizing there is a my.cnf file in this
# # directory, it might get exposed by mistake => we'll have it here too
my.cnf*
# python runtime stuff
__pycache__
*.pyc
.pytest_cache
.DS_Store
# use `data/` in local development environment to hold example data
# (in production the workdir in the dash container is `/dash`, and the s3 bucket is mounted as `/dash/data`)
data
