[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "5.5"

[packages]
pyyaml = "*"
flask = "*"
flask-cors = "*"
Flask-Injector = "*"
mysqlclient = "*"
testfixtures = "*"
sqlalchemy = "*"
gunicorn = "*"
uvicorn = "*"
pandas="*"
openpyxl="*"
numpy="*"
pandas-schema="*"
'connexion[swagger-ui]' = "*"

[requires]
python_version = "3.7"
