# my.cnf mounted at runtime, and contains secrets => keep it out of the image!
# update: added more cnf files so I can flip my.cnf between dev and prod versions
# safest to keep ll cnf files out of docker images
*.cnf*
# data/ must also be mounted at runtime => don't include in build
data
**/__pycache__
**/.pytest_cache
**/.DS_Store
# config mounted at runtime
openldap-env*yml
mlwh-api*yml
