[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pygraphviz = "*"

[packages]
django = "*"
graphene = "*"
graphene-django = "*"
django-cors-headers = "*"
django-graphql-jwt = "*"
django-extensions = "*"
gunicorn = "*"
uvicorn = "*"
testfixtures = "*"

[requires]
python_version = "3.7"
